# Ignore filetypes with these suffixes
*.pyc
*.swp

# Ignore files with these names
.DS_Store
.idea
.buildinfo
.nojekyll

# Ignore folders and their contents with these names
.vscode
__pycache__

# Ignore dynamic contents of example directories
examples/*/*lut/*
examples/*/output/*.txt
examples/*/output/*.mat
examples/*/remote/*.mat
examples/*/images/*.png

# Ignore test, build and distribution files
build/
dist/*.whl
*.egg
*.egg-info/
.pytest_cache/
tests/output/*.txt

# Ignore documentation files
docs/_build/
docs/html/_sources/
