.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

output/*
output*

# JSON files that are NOT the config example
*.json
!config-example.json

# Example look-up table directory
/luts/
luts/*
luts*

# Recommended hypertrace data directory
/hypertrace-data

# Scratch files (prefixed with zz-)
zz-*

# Custom LibRadTran templates
*.inp
!lrt-template.inp

# SLURM log files
IsoFit_slurm_job-*.*out
isofit_broadcast-*.*out
hypertrace_job-*.*out

# Hidden files
.*
.*/
!.gitignore
!/.gitignore
