.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

output/*

# JSON files that are NOT the config example
*.json
!config-example.json

# Example look-up table directory
/luts/

# Recommended hypertrace data directory
/hypertrace-data

# Scratch files (prefixed with zz-)
zz-*
